<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.plugin.cloudsettings.test" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CloudSettingsTest</name>
    <description>
        An example project that illustrates usage of the cordova-plugin-cloud-settings plugin.
    </description>
    <author>Dave Alden</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
</widget>
